*.sublime-project
*.sublime-workspace
*.DS_Store
.DS_Store
/.idea
/dist
/edit
/spm_modules
dbconfig.js
node_modules
/base.js
/docs
/test
/spm_modules/
/src      
/mylibs/module/usefull/anims
/build    
form.js  
config.js                                                                                                                   
